@charset "UTF-8";

@import url("/static/bower_components/cssreset-min/index.css");
@import url("/static/bower_components/pure/pure-min.css");
@import url("/static/bower_components/pure/grids-responsive-min.css");
@import url("/static/stylesheets/common/layout.css");

.kpt-section {
  width: 90%;
  position: absolute;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  text-align: center;
}

.kpt-section-top {
  text-align: left;
  margin: 0;
  padding-left: 20px;
  border-left-color: #0000ff;
  border-left-style: solid;
  border-left-width: 8px;
  border-bottom-color: #0000ff;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  font-family: serif;
  font-size: 200%;
}

.kpt-section-top ul {
  float: right;
  display: inline-block;
  margin: 0;
}

.kpt-section-top ul li {
  display: inline-block;
}

.kpt-section-inner {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
}

.kpt-board {
  height: 100%;
  bottom: 100px;
}

.kpt-board-keep {
  background: url('/static/images/kpt-room/paper-bg-keep.jpg');
  background-size: 100% auto;
  width: 98%;
  height: 50%;
  margin: auto;
}

.kpt-board-problem {
  background: url('/static/images/kpt-room/paper-bg-problem.jpg');
  background-size: 100% auto;
  width: 98%;
  height: 50%;
  margin: auto;
}

.kpt-board-try {
  background: url('/static/images/kpt-room/paper-bg-try.jpg');
  background-size: 100% auto;
  width: 98%;
  height: 100%;
  margin: auto;
}

.kpt-board-supplement {
  width: 200px;
  padding-top: 20px;
  margin: 8px 5px;
  text-align: left;
  border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.pure-button {
  padding: 0.1em 1em;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  font-size: 60%;
}
.button-success {
  background: rgb(66, 184, 221);
  color: white;
}

.button-error {
  background: rgb(202, 60, 60);
  color: white;
}

.clear {
  clear: both;
}

