{% extends "layout.html" %}

{% block stylesehets %}
  <link type="text/css" rel="stylesheet" href="/static/stylesheets/kpt-room/main.css">
{% endblock %}

{% block javascripts %}
  <script src="{{ url_for('static', filename='coffeescripts/top/config.js')}}"></script>
{% endblock %}

{% block body %}
<section class="kpt-section">
  <div class="kpt-section-top">
    <span>ルーム：{{room_id}}</span>
    <ul>
      <li><button class="button-success pure-button">投稿</button></li>
      <li><button class="button-error pure-button">ルームを削除する</button></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="pricing-tables pure-g kpt-section-inner">
    <div class="pure-u-1 pure-u-md-1-2 kpt-board">
      <div class="kpt-board-keep">
        <p class="kpt-board-supplement">Keep（キープ）</p>
      </div>
      <div class="kpt-board-problem">
        <p class="kpt-board-supplement">Problem（プロブレム）</p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 kpt-board">
      <div class="kpt-board-try">
        <p class="kpt-board-supplement">Try（トライ）</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}
