{% extends "layout.html" %}

{% block stylesehets %}
  <link type="text/css" rel="stylesheet" href="/static/stylesheets/kpt-room/main.css">
{% endblock %}

{% block javascripts %}
  <script src="{{ url_for('static', filename='coffeescripts/kpt-room/config.js') }}"></script>
{% endblock %}

{% macro TEMPLATE_GOOD(kpt) -%}
{% for g in goods if g.kpt_id == kpt.id %}
    <button class="good-click-trigger" value="{{ kpt.id }}">取り消す({{ kpt.good }})</button>
{% else %}
  <button class="good-click-trigger" value="{{ kpt.id }}">そう思う！({{ kpt.good }})</button>
{% endfor %}
{%- endmacro %}

{% macro TEMPLATE_ITEM(kpt) -%}
<div id="kptid-{{ kpt.id }}" class="items">
  <p>{{ kpt.entry }}</p>
  <ul>
    <li>
      {% if kpt.good > 0 and goods|length > 0 %}
        {{ TEMPLATE_GOOD(kpt) }}
      {% else %}
        <button class="good-click-trigger state-clicked" value="{{ kpt.id }}">そう思う！({{ kpt.good }})</button>
      {% endif %}
    </li>
    <li><a href="/{{kpt.room_id}}/comment/{{kpt.id}}">コメントする</a></li>
    <li><a href="#">コメントを見る</a></li>
  </ul>
  <div class="clear"></div>
</div>
{%- endmacro %}

{% block body %}
<section class="kpt-section">
  <div class="kpt-section-top">
    <span>ルーム：{{room_id}}</span>
    <ul>
      <li><a href="#kpt-modal" class="button-success pure-button">投稿</a></li>
      <li><a href="#" class="button-error pure-button">ルームを削除する</a></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="pricing-tables pure-g kpt-section-inner">
    <div class="pure-u-1 pure-u-md-1-2 kpt-contents">
      <div class="kpt-contents-keep">
        <p class="kpt-contents-supplement">Keep（キープ）</p>
        <div id="kpt-keep" class="kpt-boards">
          {% for e in items %}
            {% if e["type"] == "keep": %}
              {{ TEMPLATE_ITEM(e) }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="kpt-contents-problem">
        <p class="kpt-contents-supplement">Problem（プロブレム）</p>
        <div id="kpt-problem" class="kpt-boards">
          {% for e in items %}
            {% if e["type"] == "problem": %}
              {{ TEMPLATE_ITEM(e) }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-2 kpt-contents">
      <div class="kpt-contents-try">
        <p class="kpt-contents-supplement">Try（トライ）</p>
        <div id="kpt-try" class="kpt-boards">
          {% for e in items %}
            {% if e["type"] == "try": %}
              {{ TEMPLATE_ITEM(e) }}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- modal -->
<section class="modal modal--fade" id="kpt-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
  <form onsubmit="return false;">
    <div class="modal-inner">
      <header id="modal-label">
        <h2>振り返りを投稿する</h2>
      </header>
      <div class="modal-content">
        <input type="hidden" id="room-id" value="{{ room_id }}" />
        <textarea id="kpt-message" maxlength="160" placeholder="KPTを記入してください" autofocus required></textarea>
      </div>
      <footer>
        <p>
          <button type="submit" class="kpt-click-trigger pure-button button-keep" value="keep">keep</button>
          <button type="submit" class="kpt-click-trigger pure-button button-problem" value="problem">problem</button>
          <button type="submit" class="kpt-click-trigger pure-button button-try" value="try">try</button>
        </p>
      </footer>
    </div>
    <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">?</a>
  </form>
</section>
{% endblock %}
