{% extends "layout.html" %}

{% block stylesehets %}
  <link type="text/css" rel="stylesheet" href="/static/stylesheets/kpt-room/main.css">
{% endblock %}

{% block javascripts %}
  <script src="{{ url_for('static', filename='coffeescripts/kpt-room/config.js') }}"></script>
{% endblock %}

{% block body %}
<section class="kpt-section">
  <div class="kpt-section-top">
    <span>ルーム：{{room_id}}</span>
    <ul>
      <li><a href="#kpt-modal" class="button-success pure-button">投稿</a></li>
      <li><a href="#" class="button-error pure-button">ルームを削除する</a></li>
    </ul>
    <div class="clear"></div>
  </div>

  <div class="pricing-tables pure-g kpt-section-inner">
    <div class="pure-u-1 pure-u-md-1-2 kpt-contents">
      <div class="kpt-contents-keep">
        <p class="kpt-contents-supplement">Keep（キープ）</p>
        <div id="kpt-keep" class="kpt-boards">
        </div>
      </div>

      <div class="kpt-contents-problem">
        <p class="kpt-contents-supplement">Problem（プロブレム）</p>
        <div id="kpt-problem" class="kpt-boards">
        </div>
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-2 kpt-contents">
      <div class="kpt-contents-try">
        <p class="kpt-contents-supplement">Try（トライ）</p>
        <div id="kpt-try" class="kpt-boards">
        </div>
      </div>
    </div>
  </div>
</section>

<!-- modal -->
<input type="hidden" id="room-id" value="{{ room_id }}" />
<section class="modal--fade" id="kpt-modal" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true">
  <div class="modal-inner">
    <header id="modal-label">
      <h2>振り返りを投稿する</h2>
    </header>
    <div class="modal-content">
      <textarea name="message" rows="15" maxlength="160" placeholder="KPTを記入してください" autofocus required style="width: 100%; resize: none;"></textarea>
    </div>
    <footer>
      <p style="text-align: center; margin: 1em 0 0 0;">
        <button class="kpt-click-events pure-button" id="keep-contribute" style="background: #D0C220; margin: 0 5px; padding: 2px 28px; font-size: 160%;">keep</button>
        <button class="kpt-click-events pure-button" id="problem-contribute" style="background: #75BBC7; margin: 0 5px; padding: 2px 28px; font-size: 160%;">problem</button>
        <button class="kpt-click-events pure-button" id="try-contribute" style="background: #E2A9AF; margin: 0 5px; padding: 2px 28px; font-size: 160%;">try</button
      </p>
    </footer>
  </div>
  <a href="#!" class="modal-close" title="Close this modal" data-close="Close" data-dismiss="modal">?</a>
</section>
{% endblock %}
