<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-language" content="ja">
  <meta http-equiv="content-type" content="text/html" charset="UTF-8">

  <title>KPTER</title>

  <meta name="description" content="プロジェクトを振り返り作業を効率化">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- src -->
  <script src="{{ url_for('static', filename='bower_components/requirejs/require.js')}}"></script>
  {% block src %}{% endblock %}
  <!-- end -->
</head>
<body>
  <header>
    {% if session %}
      <a href="#">About</a>
      <a href="#">Signup</a>
    {% else %}
      <a href="#">About</a>
      <a href="#">ユーザ名：</a>
    {% endif %}
  </header>
  <div class="container">
    {% block body %}{% endblock %}
  </div>
  <footer>
  </footer>
</body>
</html>

