<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-language" content="ja">
  <meta http-equiv="content-type" content="text/html" charset="UTF-8">

  <title>KPTER</title>

  <meta name="description" content="プロジェクトを振り返り作業を効率化">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- stylesehets -->
  {% block stylesehets %}{% endblock %}
  <!-- css end -->

  <!-- javascripts -->
  <script src="/static/bower_components/requirejs/require.js"></script>
  {% block javascripts %}{% endblock %}
  <!-- js end -->
</head>
<body>
  <header>
    <div class="pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed myheader">
      <a class="header-title" href="#">KPTER</a>
      <ul>
        <li><a href="#">About</a></li>
        <li><a href="/create-room">ルームの作成</a></li>
        <li><a href="/signin-room">ルームへの入室</a></li>
      </ul>
    </div>
  </header>
  <div class="container">
    {% block body %}{% endblock %}
  </div>
  <footer>
  </footer>
</body>
</html>

