<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-language" content="ja">
  <meta http-equiv="content-type" content="text/html" charset="UTF-8">

  <title>KPTER</title>

  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- stylesheets -->
  <!-- end -->

  <!-- javascripts -->
  <!-- end -->
</head>
<body>
  <header>
  </header>
  <div class="container">
    <form action={{ url_for("signin") }} method="POST">
      <ol>
        <li class="label">Name:</li>
        <li><input type="text" placeholder="Enter your name" name="username" /></li>
        <li class="label">Password:</li>
        <li><input type="password" placeholder="Enter your password" name="password" /></li>
        <li><button class="btn" type="submit" data-wait="Please wait...">Submit</button></li>
      </ol>
    </form>
  </div>
  <footer>
  </footer>
</body>
</html>

