{% extends "layout.html" %}

{% block stylesehets %}
  <link type="text/css" rel="stylesheet" href="/static/stylesheets/show-comment/main.css">
{% endblock %}

{% block javascripts %}
  <script src="{{ url_for('static', filename='coffeescripts/show-comment/config.js')}}"></script>
{% endblock %}

{% macro TEMPLATE_ITEM(comment) -%}
<div id="commentid-{{ comment.id }}" class="items">
  <a href="#" id="{{comment.id}}" class="event-delete delete-button">
      <img src="{{ url_for('static', filename='images/common/delete.png')}}" />
  </a>
  <p>{{ comment.text }}</p>
  <div class="clear"></div>
</div>
{%- endmacro %}

{% block body %}
<section class="comment-section">
  <div class="comment-section-top">
    <span>コメント一覧</span>
    <input id="kpt-id" type="hidden" value="{{kpt_id}}" />
  </div>
  <div id="kpt-comments" class="pure-u-1 comment-boards">
    {% for e in items %}
      {{ TEMPLATE_ITEM(e) }}
    {% endfor %}
  </div>
</section>
{% endblock %}
