{% extends "layout.html" %}

{% block stylesehets %}
  <link type="text/css" rel="stylesheet" href="/static/stylesheets/create-room/main.css">
{% endblock %}

{% block javascripts %}
  <script src="{{ url_for('static', filename='coffeescripts/create-room/config.js')}}"></script>
{% endblock %}

{% block body %}
<section class="form-section">
  <div class="pure-u-1 pure-u-md-5-5 pure-g">
    <h2 class="form-title">ルームの作成</h2>
    {% if error  %} <p class="danger-message">Error: {{ error }}</p>{% endif %}
    <form action={{ url_for("signin") }} method="POST" class="pure-form pure-form-stacked">
      <fieldset>
        <label for="room-id"> ルームの名前:</label>
        <input type="text" placeholder="Enter your room id" id="room-id" name="room-id" />
        <label for="password">ルームのパスワード:</label>
        <input type="password" placeholder="Enter your password" name="password" />
        <p class="form-submit">
          <button class="pure-button" type="submit" datawait="Please wait...">ルームに入室する</button>
        </p>
      </fieldset>
    </form>
  </div>
</section>
{% endblock %}
