{% extends "layout.html" %}

{% block src %}
  <script src="{{ url_for('static', filename='coffeescripts/top/config.js')}}"></script>
{% endblock %}

{% block body %}
<section>
  <div class="l-content" style="background: url('/static/images/top/background.jpg') center top no-repeat; height: 750px; background-size: cover;">
    <div class="pricing-tables pure-g" style="position: relative; top: 180px; margin: auto; text-align: center; text-transform: uppercase;">
      <div class="pure-u-1 pure-u-md-1-2">
        <h2 class="top-title" style="font-family: serif; font-size: 300%;">KPTER<h2>
        <p> プロジェクトを振り返り、これからの作業を効率化</p>
        <div class="top-section-btn btn">
          <p class="btn01" style="margin-top: 0px;">
            <a class="pure-button pure-button-primary" href="{{ url_for('signup') }}">ルームの作成</a>
          </p>
          <p class="btn02" style="margin-top: 0px;">
            <a class="pure-button pure-button-primary" href="#">ルームへの入室</a>
          </p>
        </div>
      </div>
      <div class="pure-u-1 pure-u-md-1-2">
        <figure class="top-visual" style="display: block;">
          <img src="/static/images/top/corkboard.png" width="500" height="408" alt="">
        </figure>
      </div>
    </div> <!-- end pricing-tables -->
  </div><!-- end information -->
</section>

<section>
  <div class="pricing-tables pure-g" style="width: 80%; margin: auto; text-align: center; text-transform: uppercase;">
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="pricing-table">
        <div class="pricing-table-header" style="background: #FFF7B9;">
          <h2>Keep</h2>
          <span class="pricing-table-price">キープ</span>
        </div>
        <p>説明</p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="pricing-table pricing-table-biz pricing-table-selected">
        <div class="pricing-table-header" style="background: #D3F2F7;">
          <h2>Problem</h2>
          <span class="pricing-table-price">プロブレム</span>
        </div>
        <p>説明</p>
      </div>
    </div>
    <div class="pure-u-1 pure-u-md-1-3">
      <div class="pricing-table pricing-table-enterprise">
        <div class="pricing-table-header" style="background: #FFDFE2;">
          <h2>Try</h2>
          <span class="pricing-table-price">トライ</span>
        </div>
        <p>説明</p>
      </div>
    </div> <!-- end pricing-tables -->
  </div><!-- end information -->
</section>
{% endblock %}
