{% extends "layout.html" %}

{% block src %}
  <script src="{{ url_for('static', filename='coffeescripts/top/config.js')}}"></script>
{% endblock %}

{% block body %}
<div>
  <form action={{ url_for("signin") }} method="POST">
    <p><label for="name">Name:</label></p>
    <p><input type="text" placeholder="Enter your name" id="name" name="username" /></p>
    <p><label for="passwd">Password:</label></p>
    <p><input type="password" placeholder="Enter your password" id="passwd" name="password" /></p>
    <p><button class="btn" type="submit" data-wait="Please wait...">Submit</button></p>
  </form>
</div>
{% endblock %}
