@charset "UTF-8";

@import url("/static/bower_components/cssreset-min/index.css");
@import url("/static/bower_components/pure/pure-min.css");
@import url("/static/bower_components/pure/grids-responsive-min.css");
@import url("/static/stylesheets/common/layout.css");

.top-section {
  background: url('/static/images/top/background.jpg') center top no-repeat;
  background-size: cover;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 88%;
  top: 0;
  left: 0;
  position: fixed !important;
}

.top-section-inner {
  width: 80%;
  height: 70%;
  margin: auto;
  position: absolute;
  top: 60px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}

.top-section-title {
  font-family: serif;
  font-size: 300%;
}

.top-section-supplement {
  font-family: serif;
  font-size: 100%;
}

.top-visual img {
  max-width: 100%;
  height: auto;
}

.top-section-btns .btn{
  margin-top: 0px;
}

.description-section {
  position: absolute;
  top: 87%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: white;
}

.description-contents {
  width:80%;
  margin: auto;
  text-align: center;
}

.description-table {
  margin: 5px;
}

.description-table-header.description-table-keep {
  background: #FFF7B9;
}

.description-table-header.description-table-problem {
  background: #D3F2F7;
}

.description-table-header.description-table-try {
  background: #FFDFE2;
}

